@font-face {
  font-family: 'Mochiy';
  src: url('fonts/mochiy.woff2') format('woff2'),
       url('fonts/mochiy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
  color: #333;
}

header {
  background: #ff91a4; /* soft pink */
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Mochiy', sans-serif;
  border-bottom: 5px solid #ff6384; /* darker pink accent */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header h1 {
  color: #fff0fd;
}

h1 {
    margin: 0;
}

section {
  background: #fff0fd;
  margin: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-left: 5px solid #ff6384;

}


section p {
  margin: 0;
  font-family: "Archivo", sans-serif;
}

.hidden {
    display: none;
}

h2 {
    color: #ff6384;
    transition: all 0.3s ease; 
    font-family: "Amatic SC", sans-serif;
}

h2:hover {
    color: #ff6384;
    text-shadow: 0 2px 40px rgba(0,0,0,0.7);
}


footer {
  text-align: center;
  padding: 15px 20px;
  background: #f0c7df;
  font-size: 16px;
}

button {
  background-color: #ff6384;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Pacifico', cursive;
}

button:hover {
    background-color: #ff91a4; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: all 0.3s ease;
}

img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
}

/** Music player */
.controls {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#musicBtn {
    background-color: #ff6384;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; 
}

#musicBtn:hover {
    background-color: #ff91a4;
}

#volumeSlider {
    width: 100px; 
}


/** Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ff6384;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff91a4;
}

/** Floating stars and hearts */
@keyframes float {
    0%, 100% { transform: translateY(0px) translateX(0px); }
    25% { transform: translateY(-20px) translateX(15px); }
    50% { transform: translateY(0px) translateX(30px); }
    75% { transform: translateY(20px) translateX(15px); }
}

.heart, .star {
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    animation: float 10s ease-in-out infinite;
    opacity: 0.75;
}

.heart {
    background-image: url("resources/heart.png");
}

.star {
    background-image: url("resources/star.png"); 
    opacity: 0.75;
}

.floating-hearts .heart, .floating-stars .star {
    top: 50%;
    transform: translateY(-50%);
}

.floating-hearts .heart:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}

.floating-hearts .heart:nth-child(2) {
    left: 50%;
    animation-delay: 3s;
}

.floating-hearts .heart:nth-child(3) {
    left: 90%;
    animation-delay: 6s;
}

.floating-stars .star:nth-child(1) {
    left: 30%;
    animation-delay: 2s;
}

.floating-stars .star:nth-child(2) {
    left: 70%;
    animation-delay: 5s;
}

.floating-stars .star:nth-child(3) {
    left: 20%;
    animation-delay: 8s;
}

/** Quiz button */
.quiz-button {
    font-family: "Sedan", sans-serif; 
    font-size: 18px;
    background-color: #ff6384;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

section quiz button {
  font-family: "Sedan", sans-serif; 
}

.quiz-button:hover {
    background-color: #ff91a4;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.correct-answer {
    background-color: #8cd48e; /* Green */
    color: white;
}

.wrong-answer {
    background-color: #df362a; /* Red */
    color: white;
}

